.wrapper {
  font-family: sans-serif;
  margin-top: 30px;
}


button {
  background-color: #29292E;
  border: 1px solid #ddd;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  color: #fff;
  font-size: 13px;
}

button:hover {
  cursor: pointer;
  background-color: #3b3b40;
}

button.buttonCurrentPage {
  background-color: #779f8f;
  color: #fff;
}